.section_healthFacility{
    padding-bottom: 30px;
    padding-top: 20px;
    .wrap_img{
        display: flex;
        position: relative;
        padding-top: 47.61%;
        img{
            position: absolute;
            height: 100%;
            width: 100%;
            inset: 0px;
            object-fit: contain;
            color: transparent;
        }
    }
    .wrap_title{
        
        .title{
            
        }
    }
}



